<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UserInterface.Properties.Settings.ConnectionString" connectionString="5p9KO1sAQc7Edy0vhnJ1hfizGjg3Ylr9PuRRwaZdKvLE54cXtgkkVRPgefv5fE3spvasEuUla5z6zPvVCzHNrg==" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultExceptionTitle" value="خطای ناشناخته" />
    <add key="DefaultExceptionDescription" value="عملیات مورد نظر شما با خطا متوقف شد" />
    <add key="DefaultExceptionHelpNote" value="پس از بازبینی صحت اطلاعات و ارتباطات در صورت ادامه مشکل با مدیر سیستم تماس بگیرید" />
    <add key="OfflineExceptionTitle" value="خطای ارتباط با پایگاه داده" />
    <add key="OfflineExceptionDescription" value="ارتباط با پایگاه داده قطع است" />
    <add key="OfflineExceptionHelpNote" value="پس از بازبینی صحت اطلاعات و ارتباطات در صورت ادامه مشکل با 09183688125 تماس بگیرید" />
    <add key="ImageContent" value="Image" />
    <add key="DatabasePath" value="Database" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
